<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <h1>Panel Admina</h1>
    <div id="main" class="container">
        <form action="/addproducttodb" method="post" enctype="multipart/form-data">
        <div class="form-group">
        <label for="type">Wybierz jeden typ produktu</label>
        <select name="type" class="form-control">
            <option value="Kreatyna">Kreatyna</option>
            <option value="Przedtreningowka">Przedtreningowka</option>
            <option value="Cytrulina">Cytrulina</option>
            <option value="Bialko">Bialko</option>
          </select>
        <input name="nazwa" type="text" class="form-control" placeholder="nazwa">
        <input name="cena" type="text" class="form-control" placeholder="cena">

        <input name="uploaded_file" type="file" class="form-control-file" id="exampleFormControlFile1">

         <button class="btn btn-success">Dodaj produkt</button>
        </div>
    </form>
</div>
<h2>Usuń produkt</h2>

    <div id="main-second" class="container">
        
                 <% products.forEach((product) =>{ %>
                    <div id="products">

                    <form method="post" action="/deleteproduct">

                        <img src="/images/<%= product.photo %>" id="product-photo"><br>
                        <input type="hidden" id="product-name" name="product_name" value="<%=  product.name %>">
                            <%=  product.name %>
                        </input><br>
                            <input type="hidden" name="product_price" value="<%=    product.cena %>">
                            <%=    product.cena %> zł
                        </input>
                       
                        <input type="submit" class=" btn btn-danger" value="usuń"></input>
                    </form>
                </div>

                        <% }); %> 


    <style>
     
         #product-photo{
        max-width: 100px;
    }
    body{
        width: 100%;
        height: auto;
        border: 2px solid blue;
        border-style: solid none solid none;
    }
    #products{
        width: 200px;
        height: auto;
        margin: 1rem;
        padding: 1rem;
    }
        #main-second{
            align-items: center;
            height: 400px;
            width: 80%;
            display: flex;
           

        }
        .form-group{
            padding: 1rem;
        }
        #main{
            width: 1000px;
            height: auto;
            padding: 1rem;
        }
    </style>
</body>
</html>